.header_container {
  background: #f9f9f9;
}
.header_container .navigation {
  max-width: 1116px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 185px;
  padding: 35px 0px 45px 0px;
  margin: auto auto;
}
.header_container .navigation .logo_nav {
  margin: 0;
  display: flex;
  gap: 30px;
}
.header_container .navigation .ul_list {
  margin-right: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
}

.header_presentation {
  background: url("../images/header/Rectangle.svg");
  height: 742px;
  background-repeat: no-repeat;
  background-size: auto;
  background-size: 2125px;
}
.header_presentation .presentation {
  max-width: 1116px;
  margin: auto auto;
}
.header_presentation .presentation .frame {
  width: 500px;
  height: 600px;
  position: relative;
  overflow: hidden;
  margin: 0px;
}
.header_presentation .presentation .frame .cards {
  display: grid;
  grid-auto-flow: column;
  position: absolute;
  transition: left 0.5s ease;
  left: 0;
}
.header_presentation .presentation .frame .cards .card {
  width: 500px;
  height: 500px;
}
.header_presentation .presentation .frame .cards .card h1 {
  padding: 170px 0 80px 0;
  color: #fff;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 138.27%;
}
.header_presentation .presentation .frame .cards .card p {
  background-color: #005fa3;
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 138%;
  color: #fff;
  padding: 18px 19px;
  max-width: 270px;
  margin-left: 0;
  margin-bottom: 120px;
}
.header_presentation .presentation .trigger {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_presentation .presentation .rounds {
  margin: 0;
}
.header_presentation .presentation .rounds .slider_btn {
  cursor: pointer;
  margin-right: 40px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: none;
  opacity: 0.3;
}
.header_presentation .presentation .rounds .slider_btn:hover {
  opacity: 0.7;
  width: 15px;
  height: 15px;
}
.header_presentation .presentation .btn_box {
  margin-right: 0;
}
.header_presentation .presentation .btn_box .left_right_btn {
  margin: 0;
  width: 60px;
  height: 60px;
  font-size: 25px;
  opacity: 1.5;
  cursor: pointer;
  transition: opacity 0.4s;
  background-color: rgba(255, 252, 252, 0.3);
  color: #d3cccc;
  border: none;
}
.header_presentation .presentation .btn_box .left_right_btn:hover {
  opacity: 0.3;
}

.section_one {
  background-color: #ebebeb;
}
.section_one .one_container {
  max-width: 1116px;
  padding: 140px 0px 140px 0px;
  margin: auto auto;
}
.section_one .one_container .one_paragraph {
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 138%;
  color: #bdbdbd;
  margin-bottom: 40px;
}
.section_one .one_container .one_title {
  color: var(--333333, #333);
  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: 144.555%;
  color: #333;
  margin-bottom: 102px;
}
.section_one .one_container .container_cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.section_one .one_container .container_cards .card_item {
  width: 350px;
  height: 360px;
  transition: background-color 0.3s;
  position: relative;
}
.section_one .one_container .container_cards .card_item p {
  color: #fff;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 126%;
  margin: 261px 118px 45px 45px;
}
.section_one .one_container .container_cards .card_item .backround {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #005fa3;
  transition: background-color 0.3s;
  opacity: 0;
}
.section_one .one_container .container_cards .card_item:hover .backround {
  opacity: 0.5;
  cursor: pointer;
}
.section_one .one_container .container_cards .card_item:hover P {
  color: #ffffff;
  z-index: 1;
  position: absolute;
}

.container_two {
  max-width: 1116px;
  padding: 140px 0px 140px 0px;
  margin: auto auto;
  display: flex;
  flex-wrap: wrap;
}
.container_two .content {
  margin: 0;
}
.container_two .content h3 {
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 138%;
  color: #bdbdbd;
  margin-bottom: 40px;
}
.container_two .content img {
  margin-bottom: 60px;
}
.container_two .content p {
  margin: 0px 125px 80px 0px;
  width: 445px;
}
.container_two .cards {
  margin: 30px 0px 0px 0px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.container_two .cards .card_item {
  width: 255px;
  height: 255px;
  flex-shrink: 0;
  background: #ebebeb;
  position: relative;
  transition: background-color 0.3s;
}
.container_two .cards .card_item .text_one {
  margin: 30px 140px 32px 40px;
  color: #000;
  font-family: Lato;
  font-size: 55px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 5.5px;
  text-transform: uppercase;
}
.container_two .cards .card_item .text_two {
  margin: 0px 90px 47px 40px;
  font-family: Lato;
  font-weight: 700;
  font-size: 14px;
  line-height: 18.48px;
}
.container_two .cards .card_item .text_three {
  margin-left: 40px;
  color: #005fa3;
  border-bottom: 1px solid #005fa3;
  width: 71px;
}
.container_two .cards .card_item .backround {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #005fa3;
  transition: background-color 0.3s;
  opacity: 0;
}
.container_two .cards .card_item:hover .backround {
  opacity: 1;
  cursor: pointer;
  transition: ease 0.5s;
}
.container_two .cards .card_item:hover .text_one {
  z-index: 1;
  position: absolute;
  color: #ffffff;
  border-color: #ffffff;
}
.container_two .cards .card_item:hover .text_two {
  bottom: 47px;
  z-index: 1;
  position: absolute;
  color: #ffffff;
  border-color: #ffffff;
}
.container_two .cards .card_item:hover .text_three {
  z-index: 1;
  position: absolute;
  color: #ffffff;
  border-color: #ffffff;
  opacity: 1;
  bottom: 25px;
}

.section_three {
  background-color: #ebebeb;
}
.section_three .container {
  max-width: 1116px;
  padding: 100px 0px 100px 0px;
  margin: auto auto;
}
.section_three .container h2 {
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 138%;
  color: #bdbdbd;
  margin-bottom: 40px;
}
.section_three .container h3 {
  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: 144.555%;
  color: #333;
  margin-bottom: 80px;
}
.section_three .container .frame {
  width: 1090px;
  height: 160px;
  position: relative;
  overflow: hidden;
  margin: 0px;
  top: -100px;
}
.section_three .container .frame .content {
  display: grid;
  grid-auto-flow: column;
  position: absolute;
  transition: left 0.5s ease;
  left: 0;
  gap: 100px;
}
.section_three .container .frame .content .cards_img {
  width: 1000px;
  height: 250px;
  display: flex;
  gap: 25px;
}
.section_three .container .frame .content .cards_img img {
  width: 250px;
}
.section_three .container .btns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
.section_three .container .btns .rounds {
  display: flex;
  align-items: flex-end;
}
.section_three .container .btns .rounds .slider_btn {
  cursor: pointer;
  margin-right: 40px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: none;
  opacity: 0.3;
  background-color: #005fa3;
}
.section_three .container .btns .rounds .slider_btn:hover {
  opacity: 0.7;
  width: 15px;
  height: 15px;
}
.section_three .container .left_right_btn {
  margin: 0;
  width: 60px;
  height: 60px;
  font-size: 25px;
  opacity: 1.5;
  cursor: pointer;
  transition: opacity 0.4s;
  background-color: #005fa3;
  color: #d3cccc;
  border: none;
}
.section_three .container .left_right_btn:hover {
  opacity: 0.3;
}

*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 1920px;
}

/*# sourceMappingURL=final.css.map */
